*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  
  font-family: "Montserrat", serif;
  font-weight: 300;
  background: rgb(3, 3, 9);
  color: white;
}

/* weblogo img */
.websiteLogo{
  height: 30px;
  width: 30px;
  
}
/* page name */
.logo h1{
  color: white;
  font-weight: 200;
  letter-spacing: 1.5px;
}


/* Header div */
#navbar{
  height: 150px;
  width: 100%;
  /* Display */
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;

  /* colors */
  background: linear-gradient(rgb(12, 10, 42),rgb(0, 0, 0));
 
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* navbar and nav elements */
#navbar .nav {
  display: flex;
  gap: 15px;
}

#navbar .nav a {
  font-weight: 400;
  font-size: medium;
  background: white;
  text-decoration: none;
  color: rgb(150, 11, 11);
  transition: 0.3s all ease;
  border-radius: 15px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* Pseduo classes for nav links */

#navbar .nav a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: red;
  transform: translate(-100%);
  transition: 1s ease-in-out;
}

#navbar .nav a:hover::after{
  transform: translate(0%);
  color: white;
}

#navbar .nav a:hover{
  color: whitesmoke;
}

/* Register Link */
#navbar .nav .signup {
  position: relative;
  z-index: 1;
  font-size: medium;
  font-weight: 400;
  text-decoration: none;
  color: blue;
  padding: 10px 15px;
  border-radius: 15px;
  overflow: hidden;
  transition: 1s all ease;
}

#navbar .nav .signup::after {
  content: "";
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(100%); /* Slide in from the left */
  transition: transform 1s ease-in-out;
}

#navbar .nav .signup:hover::after {
  transform: translateX(-10%);      /* slides left 110%(100+(-10)) */       
}

#navbar .nav .signup:hover {
  color: white;
  font-weight: 500;
}

/* Main  */

/* Hero-sect */
#ongoing-movies{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;

}
.show-ongoing p{
  height: 40px;
  border-bottom: 2px solid red;
  width: 10em;
  text-align: center;
  transform:rotate(-90deg);
  letter-spacing: 15px;
  line-height: 20px;
  border-left: 2px solid red;
}
.pushpa-image{
  position: relative;
  
}
/* Play button on pushpa image */
.pushpa-image #btn-play{
  position: absolute;
  top: 177.5px;
  left: 110px;
  right: 0;
  bottom: 0;
  font-size: 50px;
  color: orangered;
  border: 5px solid red;
  box-shadow: 0px 0px 25px 20px;

  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}

.pushpa_left{
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 2px solid green;
}
/* Movies Glimpse */
.pushpa-right{
  height: 35em;
  width: 40em;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  margin-left: 2em;
}

.book-info{
  height: fit-content;
  width: 15em;
  text-align: center;
  padding: 10px;
  background-color: rgb(122, 13, 13);
  color: yellow;
  letter-spacing: 5px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 800;
  transition: 0.5s all ease;
}
.book-info:hover{
  transform: scale(0.85);
}