/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0e566e, #6c2dab);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 1px;
}

.details {

    margin-bottom: 20px;
    text-align: left;
}

.label {
    display: block;
    font-size: 14px;
    color: #ddd;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: rgba(95, 57, 148, 0.404);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: whitesmoke;
    box-shadow: 0px 0px 10px 1px #f5f5f5;
}

.actions {
    margin-top: 20px;
}

#btn {
    width: 100%;
    padding: 12px 0;
    background: linear-gradient(90deg, #5c5c98, #b068c2);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(86, 207, 225, 0.5);
}

.acc_mssg {
    margin-top: 15px;
    font-size: 14px;
    color: #bbb;
}

.actions a {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s all ease;
}

.actions a:hover {
    color: white;
    background-color: green;
    border: 2px solid whitesmoke;

    
}

/* Glow Animation */
#container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid transparent;
    border-radius: 18px;
    background: linear-gradient(45deg, #3532e0, #65388f, #87254bd0, #1088a0);
    background-size: 400% 400%;
    animation: gradientglow 6s ease infinite;
    z-index: -1;
}

@keyframes gradientglow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
