

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,rgb(28, 19, 61),black);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: linear-gradient(to right,rgb(18, 20, 48),black);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.name{
    display: flex;
    /* flex-direction: column; */
    gap: 6px;
    width: 100%;
}
label {
    font-size: 14px;
    margin-bottom: 4px;
    color: #bbbbbb;
}
.ddp{
    display: flex;
}
input, select {
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-size: 14px;
}

input:focus, select:focus {
    outline: none;
    border-color: #6200ea;
}
#fullname,
#lastname{
    width: 150px;
}
#submit {
    background-color: #214526;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

#submit:hover {
    background-color: #3700b3;
}

.seat, .price {
    font-size: 16px;
    font-weight: bold;
}

.seatnum {
    color: #03dac5;
}



/* javascript GET html structure */
#finalform{
    height: 50vh;
    width: 50%;
    margin: auto;
    border: 2px solid blue;
}